.page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .page-motion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  